@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url(cac_champagne.woff) format('woff'),
	url(cac_champagne.ttf) format('ttf');
}
@font-face {
	font-family: Grunge;
	src: url(1942.woff) format('woff'),
	url(1942.ttf) format('ttf');
}
@font-face {
	font-family: Dobkin;
	src: url(DobkinPlain.woff) format('woff'),
	url(DobkinPlain.ttf) format('ttf');
}

	
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Jaeyeong Lee
   Date:   Feb.11.2019
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html{
	background-color:hsl(91, 8%, 56%);
}
body{
	background-color:hsl(58, 31%, 84%);
	font-family;"Palatino Linotype","Book Antiqua", Palatino, setif;
}
header{
	background-color:black;
}
p{
	margin:0px;
	padding-top:5px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:25px;
}

p{
	font-size:1.1em;
	text-align:center;
}


address{
	font:normal;
	font-size:0.9em;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

/* Navigation Styles */
nav{
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	padding-bottom:10px;
	padding-top:10px;
	background-color: hsla(0, 0%, 42%, 0.4);
	color:white;
}
li a:link {
  text-decoration: none;
  color:white;
  
}

li a:visited {
  text-decoration: none;
  color:white;
}

li a:hover {
  background-color:hsl(0, 0%, 42%, 0.7);
  color:hsla(0, 0%, 100%, 0.7);
}

li a:active {
  background-color:hsl(0, 0%, 42%, 0.7);
  color:hsla(0, 0%, 100%, 0.7);
}


/* Section Styles */
h1{
	font-size:3em;
	font-weight:normal;
	margin:0px;
	padding-top:20px;
	padding-right:0px;
	padding-bottom:10px;
	padding-left:20px;
}
#play1{
	background-color:hsl(240, 100%, 88%);
}
#play1 h1{
	font-family:Champagne, cursive;
}
#play2{
	background-color:hsl(25, 88%, 73%);
}
#play2 h1{
	font-family:Grunge, 'Times New Roman', Times, serif;
}
#play3{
	background-color:hsl(0, 100%, 75%);
}
#play3 h1{
	font-family:Impact, Charcoal, sans-serif;
}
#play4{
	background-color:hsl(296, 86%, 86%);
}
#play4 h1{
	font-family:Dobkin, cursive;
}
.playbill p{
	text-align:left;
}

/* Description List Styles */
dt{
	font-size:1.3em;
	font-weight:bold;
	color:hsla(0, 0%, 0%, 0.4);
}
dd{
	font-size:1.3em;
	margin-left:0px;
	margin-bottom:10px;
}
